.listItem {
  //border-bottom: 1px solid white;
}

.listItem:hover {
  background-color: #b3c4df;
  .avatar {
    background-color: #b3c4df;
  }
}

.listMeta {
  display: flex;
  flex: 4 1;
}

.avatar {
  background-color: #d0d5ee;
  color: rgb(44, 106, 148);
}

.roomNameHeader {
  display: inline;
  font-size: 12px;
  font-weight: 220;
  font-style: italic;
}

.roomName {
  display: inline;
  padding: 0px 0px 0px 45px;
  font-size: 18px;
  font-weight: bold;
}

.subjectIdHeader {
  display: inline;
  font-size: 12px;
  font-style: italic;
}

.subjectId {
  display: inline;
  padding: 0px 0px 0px 20px;
  font-weight: 500;
}

.listContent {
  color: rgb(27, 81, 117);
  font-weight: bold;
}