.commentarea {
  background-color: #eeeeff;
  margin: 15px;
  width: 100%;
  height: auto;
  border: 1px solid #b0b4fb;
  border-radius: 5px;
  
  .title {
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .comments {
    margin: 5px 20px;
    background-color: #ffffff;
    height: auto;
  }

  .listItem {
    padding-left: 15px;

    .listMeta {
      display: flex;
      align-items: center;

      .avatar {
        color: #1890ff;
        background-color: #fff;
      }

      h4 {
        font-weight: 600;
      }
    }
  }

  .listItem:nth-child(odd) {
    background-color: #90caff;
  }

  .listItem:nth-child(even) {
    background-color:#cde7ff;
  }
}