.negative-tag.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
    color: #f4646b;
}
.negative-tag.ant-tag-checkable:not(.ant-tag-checkable-checked):active {
    background: #d9363e;
}
.negative-tag.ant-tag-checkable-checked {
    color: #fff;
    background: #ff4d4f
}